
#tilbage_til_forsiden {
  background-color: rgb(51, 51, 51);
  color: white;
  text-decoration: none;
  font-size: large;
  display: flex;
  background-color: rgb(51, 51, 51);
  width: 9%;
  padding: 8px;
  margin: 30px 0px 0px 30px;
  border-radius: 1rem;
  opacity: 0.95;
}

#tilbage_til_forsiden:hover {
  color: lightblue;
}
