:root {
--main-color: rgba(25,22,19,255);
}

body {
    --menu: "OFF";
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-image: url(Billeder/pizza-21.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: var(--main-color) ;
    
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.95;
}

#forside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 80%;
    padding: 5px;
    margin: 30px 50px 0px 50px;
    border-radius: 1rem;
    font-weight: 800;
    font-size: larger;
}

div {
    display: flex;
    align-items: center;
   
}

#logo {
    width: 10%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

#title {
    letter-spacing: 0.2rem;
   

}

#nav-links {
    display: flex;
    list-style-type: none;
    
}

.forside-link {
    text-decoration: none;
    margin-right: 70px;
    color: white;
    font-weight: 800;
    font-size: larger;
}

.forside-link:hover {
    color: lightblue;
}


#search-app {
    width: 100%;
    height: 600px;;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 40px;

}


.tider {
   flex-direction: column;
   width: 20rem;
   height: 50vh;
}

.table {
    display: grid;
    grid-template-columns: repeat(2,8rem);
    justify-items: center;
    align-items: center;
    row-gap: 1.5rem;
    column-gap: 0.5rem;
    color: white;
    font-weight: bolder;
    border-spacing: 0 20px; 
  }
.times {
    justify-self: left;
}



#search-description {
    
    color: white;
    font-weight: bolder;
    font-size: 200%;
    padding: 3px 30px 3px 30px;
    border-radius: 1rem;
    background-color: var(--main-color) ;
    opacity: 0.95;

}

.searchBox {
    transform:  translate(-50%,50%);
    background: var(--main-color) ;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 25%;
}

.searchBox:hover > #searchBar {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : var(--main-color);
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#searchBar {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.pizza-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
    min-height: 30vh;
    background-color: var(--main-color);
    opacity: 0.9;
    border: 1px solid;
    border-radius: 0.5rem;
    font-weight: bolder;
    font-size: 120%;
    
}

#img-search {
    width: 250px;
    height: auto;
}

#insertSearch {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

#insertSearch ul {
    position: relative;
    bottom: 1rem;
    margin-left: 3rem;
    list-style-type:square;
    align-self: flex-start;
}
#insertSearch li {
    margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
    #search-app {
     margin-top: 8rem;
     flex-wrap: wrap-reverse;
     flex-direction: row;
    }
    .forside-midt {
        display: none;
    }
    .pizza-box {
        opacity: 0;
    }
    .nav-bar {
        position: relative;
        top:12rem;
        display: block;
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    .nav-bar {
        border-bottom: dashed 1px ;
    }
}

@media screen and (max-width: 1320px) {
    #logo  {
        display: none; 
    }
    #title {
        margin-left: 1rem;
        font-size: 140% ;
    }
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 0.2rem;
    width: 3rem;
    height: 2rem;
    
    
}

.ham-bar {
    border-radius: 2px;
    width: 1.5rem;
    height: 0.3rem;
    background-color: red;
}

#menu:hover > div {
    background-color: white;
    transition: 0.3s;
}

.nav-menu {
    z-index: 1;
    position: absolute;
    top:0;
    width: 100%;
    height: 14rem;
    background-color: white;  
    font-size: larger;
    font-weight: 600;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.nav-menu a {
    text-decoration: none;
    color: var(--main-color);
}

.menu-sec{  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    border-bottom: solid 1px black;
}
#last-child {  
    border-bottom: none;
}
.menu-sec:hover {  
    background-color: var(--main-color);  
    transition: 0.4s;
}
.menu-sec:hover > a { 
    color: white; 
    transition: 0.4s;
}

@media screen and (max-width: 1080px) {
    #nav-links {
        display: none;
    }
    body {
        --menu: "ON";
    }
}
@media screen and (min-width: 1080px) {
    body {
        --menu: "OFF";  
    }
    #menu {
        display: none;
    }
}
