body {
    background-image: url(../Billeder/pizza-20.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    background-color : rgb(51, 51, 51, 0.7);
    margin-left: 900px;
    border-radius: 1rem;
    overflow: hidden;
  }

  td, th {
    text-align: left;
    border: 2px solid black;
    color: white;
    padding: 8px;
    font-size: larger;
    border-left: transparent;
    border-top: transparent;
  }

  tr:hover {background-color: rgb(35,35,35,0.7);}

  #test1 {
    border-bottom: transparent;
  }

  #test2 {
    border-bottom: transparent;
    border-right: transparent;
  }

  #test3 {
    border-right: transparent;
  }

  #test4 {
    column-width: 10px;
  }

h2 {
  margin-left: 900px;
  color: white;
}

#tilbage_til_forsiden {
  display: flex;
  position: absolute;
  height: 25%;
  width: auto;
}