body {
    background-image: url(../Billeder/pizza-20.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
    margin-left: 15px;
  }

  td, th {
    text-align: left;
    color: white;
    padding: 8px;
  }